<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.data.personal.name }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/albertine/css/default.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body class="intro-screen">

  <!-- ==================== -->
  <!-- HEADER -->
  <!-- ==================== -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-9 col-lg-9">
          <h1>
            <a href="{{ site.baseurl }}">{{ site.data.personal.name }}</a>  &nbsp; &nbsp; &nbsp; &nbsp;

            <a href="{{ site.baseurl }}/about"> About</a> &nbsp;
            <a href="{{ site.baseurl }}/cv"> CV</a> &nbsp;
            <a href="{{ site.baseurl }}/projects"> Projects</a> &nbsp;
            <a href="{{ site.baseurl }}/publications"> Publications</a> &nbsp;
            <a href="{{ site.baseurl }}/presentations"> Presentations</a> &nbsp;
            <a href="{{ site.baseurl }}/teaching"> Teaching</a> &nbsp;
            <a href="{{ site.baseurl }}/news"> News</a>
          </h1>
          <h2>
            {{ site.data.personal.label }}
          </h2>
        </div>
        <div class="col-xs-3 col-lg-3">
          <img src="{{ site.baseurl }}{{ site.data.personal.picture }}" 
               class="img-circle"
               style="margin-top:-6px;width:56px;border:2px solid rgba(255,255,255,0.75)">
        </div>
      </div>
    </div>
  </header>

  <!-- ==================== -->
  <!-- MENTORSHIP -->
  <!-- ==================== -->
    <div class="container" id="section-mentorship">
      <div class="row">
        <div class="col-xs-10">
          <h1>On Mentorship</h1>

          <p>As a first-generation college graduate, I have benefited greatly from many excellent mentors in my academic and personal journey. I am also an active member of the <a href="https://www.bscp.org/" target="_blank">Biomedical Science Careers Program</a> at Harvard Medical School. A few of my mentors are listed below in reverse chronological order from when mentorship first began. 
          <br />
          <br />
          <img style="float:left" src="/assets/img/noemie-elhadad-new.jpeg" height="250" color="gray" hspace="10" /><a href="https://www.dbmi.columbia.edu/people/noemie-elhadad/" target="_blank"><strong>Noémie Elhadad, PhD</strong> (2019)</a><br />
          Chair, Department of Biomedical Informatics <br />
          Associate Professor of Biomedical Informatics  <br />
          Affiliate, Computer Science  <br />
          Affiliate, Data Science Institute  <br />
          Columbia University<br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:right" src="/assets/img/li-zhou.png" height="275" color="gray" hspace="10" /></p>
          <p align="right"><a href="https://connects.catalyst.harvard.edu/Profiles/display/Person/74124" target="_blank"><b>Li Zhou, MD, PhD, FACMI</b> (2016)</a><br />Professor of Medicine, Harvard Medical School<br />Senior Medical Informatician, Partners HealthCare Systems </p>
          <p><br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:left" src="/assets/img/david-bates.jpg" height="300" color="gray" hspace="10" /><a href="https://connects.catalyst.harvard.edu/Profiles/display/Person/449" target="_blank"><strong>David W. Bates, MD, MSc</strong> (2013)</a><br />
          Chief, Division of General Internal Medicine and Primary Care,<br /> Brigham and Women’s Hospital<br />
          Medical Director, Clinical Quality and IS Analysis, Partners HealthCare<br />
          Professor of Medicine, Harvard Medical School<br />
          Professor of Health Policy and Management,<br />Harvard T. H. Chan School of Public Health<br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:right" src="/assets/img/gordon-schiff.jpg" height="300" color="gray" hspace="10" /></p>
          <p align="right"><a href="https://primarycare.hms.harvard.edu/faculty-staff/gordon-schiff/" target="_blank"><b>Gordon D. Schiff, MD</b> (2012)</a><br />Associate Professor of Medicine, Harvard Medical School<br />Quality and Safety Director, HMS Center for Primary Care<br />
          Associate Director, Center for Patient Safety Research and Practice,<br />Brigham and Women's Hospital</p>
          <p><br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:left" src="/assets/img/phyllis-kanki.jpeg" height="250" color="gray" hspace="10" /></p>
          <p align="left"><a href="https://www.hsph.harvard.edu/phyllis-kanki/" target="_blank"><b>Phyllis Kanki, DVM, DSc</b> (2008)</a><br />Mary Woodard Lasker Professor of Health Sciences<br />Department of Immunology and Infectious Diseases<br />Harvard T.H. Chan School of Public Health</p>
          <p><br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:right" src="/assets/img/jeffrey-schnipper.png" height="250" color="gray" hspace="10" /></p>
          <p align="right"><a href="https://connects.catalyst.harvard.edu/Profiles/display/Person/54336" target="_blank"><b>Jeffrey L. Schnipper, MD, MPH, FHM</b> (2008)</a><br />Professor of Medicine, Harvard Medical School<br />Research Director, Division of General Internal Medicine<br />and Primary Care,<br />
          Director of Clinical Research, Hospitalist Medicine Unit,<br />Brigham and Women's Hospital<br /></p>
          <p><br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img style="float:left" src="/assets/img/jeffrey-linder.jpg" height="250" color="gray" hspace="10" /></p>
          <p align="left"><a href="https://www.medicine.northwestern.edu/faculty/profile.html?xid=37195" target="_blank"><b>Jeffrey A. Linder, MD, MPH, FACP</b> (2007)</a><br />Chief, General Internal Medicine and Geriatrics<br />Michael A. Gertz Professor of Medicine<br />Feinberg School of Medicine, Northwestern University</p>

        </div>
      </div>
    </div>

  <!-- ==================== -->
  <!-- FOOTER -->
  <!-- ==================== -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="footer-heading"> &copy; 2019-2025 All Rights Reserved.</h4>
        </div>
      </div>
    </div>
  </footer>


  <!-- ==================== -->
  <!-- JAVASCRIPTS -->
  <!-- ==================== -->
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>  
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#section-mentorship').waypoint(function (direction) {
        if (direction === 'down') {
          $('body').removeClass('intro-screen');
        } else {
          $('body').addClass('intro-screen');
        }
      });
    });
  </script>
</body>
</html>
