<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.data.personal.name }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/albertine/css/default.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body class="intro-screen">

  <!-- ==================== -->
  <!-- HEADER -->
  <!-- ==================== -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-9 col-lg-9">
          <h1>
            <a href="{{ site.baseurl }}">{{ site.data.personal.name }}</a>  &nbsp; &nbsp; &nbsp; &nbsp;

            <a href="{{ site.baseurl }}/about"> About</a> &nbsp;
            <a href="{{ site.baseurl }}/cv"> CV</a> &nbsp;
            <a href="{{ site.baseurl }}/projects"> Projects</a> &nbsp;
            <a href="{{ site.baseurl }}/publications"> Publications</a> &nbsp;
            <a href="{{ site.baseurl }}/presentations"> Presentations</a> &nbsp;
            <a href="{{ site.baseurl }}/teaching"> Teaching</a> &nbsp;
            <a href="{{ site.baseurl }}/news"> News</a>
          </h1>
          <h2>
            {{ site.data.personal.label }}
          </h2>
        </div>
        <div class="col-xs-3 col-lg-3">
          <img src="{{ site.baseurl }}{{ site.data.personal.picture }}" 
               class="img-circle"
               style="margin-top:-6px;width:56px;border:2px solid rgba(255,255,255,0.75)">
        </div>
      </div>
    </div>
  </header>

  <!-- ==================== -->
  <!-- NEWS -->
  <!-- ==================== -->
    <div class="container" id="section-news">
      <div class="row">
        <div class="col-xs-10">
        <div class="center">
        
        <h1 class="post-title">News</h1>
        <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

        <iframe width="100%" height="166" float="right" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722783449&amp;color=%230500ff&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
        <br>
        <br>

        {% if site.data.news.size > 0 %}

        <div class="container">
            <div class="row">
              <div class="col-md-10">   
                {% for new in site.data.news %}

<!--                 {{ new.date }} -  {{ new.description }}
                <br>
                <br>
                 
                {% endfor %}
                <br>
 -->
            <table>
              <colgroup>
              <col width="20%" />
              <col width="80%" />
              </colgroup>
              <tbody>
                {% for new in site.data.news %}
                <tr>
                  <td>{{ new.date }}</td>
                  <td>{{ new.description }}</td>
                </tr>
                <tr>
                  <td> &nbsp; &nbsp;</td>
                  <td> &nbsp; &nbsp;</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>

  <!-- ==================== -->
  <!-- FOOTER -->
  <!-- ==================== -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="footer-heading"> &copy; 2019-2026 All Rights Reserved.</h4>
        </div>
      </div>
    </div>
  </footer>

  <!-- ==================== -->
  <!-- JAVASCRIPTS -->
  <!-- ==================== -->
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>  
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
<!--   <script>
    $(document).ready(function () {
      $('#section-news').waypoint(function (direction) {
        if (direction === 'down') {
          $('body').removeClass('intro-screen');
        } else {
          $('body').addClass('intro-screen');
        }
      });
    });
  </script> -->
</body>
</html>
